body{
    background-image: url(./image/blue.png);
}
#min, #hour, #sec{
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    box-shadow: deeppink 2px 2px 5px 0;
    height: 80px;
    width: 20%;
    color: white;
    border-radius: 12px;
    border: none;
    text-align: center;
    -webkit-backdrop-filter: opacity(50px);
    backdrop-filter: opacity(50px);

}
#big{
    display: flex;
    margin-top: 200px;
    justify-content: space-evenly;
    flex-direction: row;
    color: white;
    flex-wrap: wrap;
}
button{
    background-color: deeppink;
    border-radius: 12px;
    color: white;
    /* padding: 20px; */
    border: none;
}
#hour::placeholder{
    color: white;
}
